<!-- Written by Cody Zavodsky -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality Monitor</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <style>
        body {
                background-color: #121212;
                color: #ffffff;
        }
    </style>
</head>
<body>
        <h1 id="Status"></h1>
        <h3 id="Effects"></h3>
        <a href=https://www.airnow.gov/aqi/aqi-basics/>Info on safe levels can be found here</a>
        <h5></h5>
        <button onclick="colorblind()">Colorblind Mode</button>
        <canvas id="Chart" width="3840" height="2160"></canvas>
        <canvas id="Chart_hr" width="3840" height="2160"></canvas>
        <canvas id="Chart_dy" width="3840" height="2160"></canvas>
        </script>
        <a href="{{url_for('notes')}}">Notes and Considerations</a>
</body>
</html>
